[Unit]
Description=Shs-Server
After=network.target
 
[Service]
Type=forking
ExecStart=/opt/shs-server/default/start.sh
ExecStop=kill -9 shs
ExecReload=kill -9 shs && /opt/shs-server/default/start.sh
 