[Unit]
Description=Shs-Server
After=network.target
 
[Service]
Type=forking
ExecStart=/usr/shs-server/default/start.sh
ExecStop=killall -9 shs
ExecReload=killall -9 shs && /usr/shs-server/default/start.sh
 
[Install]
WantedBy=multi-user.target